body {
    font-family: Verdana;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

.card {
    display: none;
    flex-direction: column;
    width: 100%;
}

.card.active {
    display: flex;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
    font-size: 14px;
    font-family: Verdana;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

textarea.form-control {
    resize: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #13334d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0a1d33;
    transform: scale(1.05);
}

button:not(:last-child) {
    margin-right: 10px;
}

button.prev-btn {
    background-color: #6c757d;
}

button.prev-btn:hover:not(:disabled) {
    background-color: #5a6268;
}

button.next-btn {
    background-color: #13334d;
}

button.next-btn:hover:not(:disabled) {
    background-color: #0a1d33;
}

button.submit-btn {
    background-color: #28a745;
}

button.submit-btn:hover:not(:disabled) {
    background-color: #218838;
}

.button-group.single {
    justify-content: flex-end;
}
