/* Hero section */
.Text_Image_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
  position: relative;
  height: 100vh;
  gap: 40px;
}

.Text-Container {
  width: 50%;
  z-index: 1;
}

.Text-Container h1 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 30px;
}

.Text-Container h2 {
  font-weight: 600;
  font-size: 22px;
}

.Text-Container h3 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}

.Text-Container p {
  font-size: 18px;
  margin-bottom: 50px;
}

.card {
  position: absolute;
  width: 220px;
  background-color: #fff; /* You can replace this with a design-specific variable */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.card h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.card p {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.card.top-left {
  top: -80px; /* Positions half of the card outside the image */
  left: -40px;
}

.card.bottom-right {
  bottom: -100px;
  right: 30px;
}

.illustration {
  width: 50%;
  position: relative;
  overflow: visible; /* Ensures cards can extend beyond the image */
}

.illustration img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}

.pulse-shine {
  animation: pulse 2s infinite;
  color: var(--accent);
  font-weight: 800;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Packages section */
.Heading-Container {
  width: 100%;
  text-align: center;
  color: var(--text);
  box-sizing: border-box;
}

.Heading-Container h1 {
  font-size: 42px;
}

.Subscriptions-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

/* Packages Wrapper */
.Packages-Wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.package-card {
  background-color: var(--background);
  color: var(--text);
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.package-card.active {
  opacity: 1;
  transform: translateX(0);
}

#Mentzen-Podatki.package-card,
#Mentzen-Prawo.package-card {
  background-color: var(--secondary10);
}

#Mentzen-PrawoIPodatki.package-card {
  background: linear-gradient(
    45deg,
    var(--primary30),
    var(--accent10),
    var(--secondary10)
  );
}

.package-card h1,
.package-card h2,
.package-card h3,
.package-card h4 {
  text-align: center;
}

.package-card h2 {
  margin-bottom: 10px;
}

.package-card h3 {
  color: var(--accent);
  font-weight: 900;
}

.package-card h4 {
  font-weight: 500;
}

.package-card p {
  text-align: center;
  font-weight: 500;
}

.package-card ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.package-card li {
  position: relative;
  margin-bottom: 5px;
  font-size: 14px;
}

.package-card li::before {
  content: "✔";
  color: var(--accent);
  font-weight: 700;
  font-size: 18px;
  margin-right: 7px;
}

.nice-button {
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  color: var(--background) !important;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.nice-button:hover {
  background-color: var(--primary80);
}

/* Primary/Secondary button */
.primary-button-cta {
  display: inline-block;
  background-color: var(--primary);
  color: var(--background);
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
}

.primary-button-cta:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--primary);
}

.secondary-button-cs {
  display: inline-block;
  background-color: var(--secondary);
  color: var(--text);
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: transform ease 0.2s;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
}

.secondary-button-cs:hover {
  transform: translate(0, -3px);
  transition: transform ease 0.2s;
}

/* Modals */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 51, 77, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background-color: var(--background);
  padding: 20px;
  border-radius: 16px;
  width: 95%;
  max-width: 700px;
  text-align: center;
  color: var(--text);
  position: relative;
}

.modal-content h2 {
  font-size: 32px;
  font-weight: 600;
}

.modal-content h3 {
  font-size: 24px;
  font-weight: 800;
  color: var(--accent);
}

.modal-content p {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}

.modal-content .close {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: var(--text60);
  color: var(--background);
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
}

.modal-content .option {
  margin-bottom: 20px;
  margin-top: 20px;
  display: grid;
  gap: 5px;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.modal-content hr {
  border: none;
  border-top: 1px solid var(--primary);
  width: 80%;
  margin: 20px auto;
}

input[type="checkbox"] {
  display: none;
}

#modal1:checked ~ .modal1,
#modal2:checked ~ .modal2,
#modal3:checked ~ .modal3 {
  display: flex;
}

/* FAQ section */
.FAQ-Section {
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}

.FAQ-Heading-Container h2 {
  font-size: 42px;
  margin-bottom: 30px;
}

.FAQ-Heading-Container p {
  font-size: 18px;
}

.FAQ-Heading-Container a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 600;
}

.accordion {
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
  max-width: 662px;
}
.accordion h1 {
  font-size: 32px;
  text-align: center;
}
.accordion-item {
  margin-top: 16px;
  border-radius: 8px;
  background: var(--primary10);
}
.accordion-item .accordion-item-title {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 16px 20px;
  align-items: center;
  font-weight: 600;
}
.accordion-item .accordion-item-desc {
  display: none;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--text80);
  border-top: 1px dashed #ccc;
  padding: 10px 20px 20px;
  line-height: 1.7;
}
.accordion-item input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
  display: block;
}
.accordion-item
  input[type="checkbox"]:checked
  ~ .accordion-item-title
  .icon:after {
  content: "-";
  font-size: 26px;
  color: var(--accent);
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
  content: "+";
  font-size: 26px;
  color: var(--accent);
}
.accordion-item:first-child {
  margin-top: 0;
}
.accordion-item .icon {
  margin-left: 20px;
}

/* Contact form modal */
#contact-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(19, 51, 77, 0.8);
  justify-content: center;
  align-items: center;
}

#contact-modal:target {
  display: flex;
}

.contact-form-card {
  background-color: var(--background);
  border-radius: 16px;
  padding: 20px;
  width: 100%;
}

.contact-form h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 32px;
  text-align: center;
  color: var(--text);
  letter-spacing: 0.5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  font-size: 16px;
}

textarea#message {
  min-height: 300px;
}

.form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.form-button:hover {
  background-color: var(--primary80);
}

.closeV2 {
  position: absolute;
  top: -5px;
  right: 20px;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
}

.closeV2 a {
  color: var(--text);
  text-decoration: none;
}

.closeV2 a:hover {
  color: var(--primary);
}

@media (max-width: 1200px) {
  .Text_Image_Container {
    flex-direction: column;
    padding: 40px 20px;
    height: auto;
  }

  .Text-Container {
    width: 100%;
  }

  .illustration {
    width: 100%;
  }

  .card {
    display: none;
  }
}

@media (max-width: 1300px) {
  .Packages-Wrapper {
    flex-direction: column;
    align-items: center;
  }
  .package-card {
    width: 70%;
  }
}

@media (max-width: 630px) {
  .package-card {
    width: 95%;
  }
}

@media (max-width: 1207px) {
  .FAQ-Section {
    flex-direction: column;
    align-items: center;
  }
}

/* Dividers */
.h-divider {
  margin: auto;
  margin-top: 60px;
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.h-divider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}

.brace {
  width: auto;
  min-width: 35px;
  padding-bottom: 20px;
  font-size: 2em;
  line-height: 2em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin: 0 15px 15px;
  border: none;
  background-color: transparent;
  background-image: radial-gradient(
      circle at 0 0,
      rgba(52, 152, 219, 0) 14.5px,
      var(--brace-color) 15.5px,
      var(--brace-color) 19.5px,
      rgba(52, 152, 219, 0) 20.5px
    ),
    radial-gradient(
      circle at 35px 0,
      rgba(52, 152, 219, 0) 14.5px,
      var(--brace-color) 15.5px,
      var(--brace-color) 19.5px,
      rgba(52, 152, 219, 0) 20.5px
    );
  background-size: 35px 20px;
  background-position: center bottom;
  background-repeat: no-repeat;
  text-transform: lowercase;
  font-style: italic;
  color: var(--brace-color);
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
  overflow: visible;
}

.brace::before {
  width: 50%;
  border-top: 5px solid var(--brace-color);
  border-left: 1px solid transparent; /* dostosuj według potrzeb */
  border-top-left-radius: 20% 30px;
  height: 100%;
  content: "";
  position: absolute;
  top: var(--brace-height);
  left: -15px;
  box-sizing: border-box;
  margin-top: -5px;
}

.brace::after {
  width: 50%;
  border-top: 5px solid var(--brace-color);
  border-right: 1px solid transparent; /* dostosuj według potrzeb */
  border-top-right-radius: 20% 30px;
  height: 100%;
  content: "";
  position: absolute;
  top: var(--brace-height);
  right: -15px;
  box-sizing: border-box;
  margin-top: -5px;
}
