
/* Style tytułów */

.titleV1 {
  color: #505050;
  font-family: 'Montserrat', Sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
}

.titleV2 {
  color: #505050;
  font-family: 'Montserrat', Sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
}

.SubtitleV1 {
  color: #505050;
  font-family: 'Montserrat', Sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
}

/* Style wyróżnień */

.HighlightV1 {
  background-color: #13334d;
  color: white;
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  white-space:nowrap;
}

.UnderlyV1 {
  text-decoration: underline;
  text-underline-offset: 5px; 
  text-decoration-color: #13334d; 
  text-decoration-thickness: 2px;
}

.LinkV1 {
  text-decoration: none; 
  color: #000; 
  font-weight: normal; 
  font-size: 20px;
  white-space: nowrap;
}

/* Style KONTENERÓW */

/* <style> */
.Background-Container {
  background-color: #F9F8F6;
  padding-top: 20px;
  text-align: center;
}

.Background-ContainerV3 {
  background-color: white;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

.Background-ContainerV4 {
  background-color: #F9F8F6;
}

/* <style> */
.Container-Image {
  width: 100%;
  text-align: center;
  position: relative;
  background-color: #F9F8F6;
}

.Image_for_container {
  max-height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.Image_for_containerV2 {
  background-image: url('images/ekipa-mentzenV2.jpg');
  background-size: cover;
  background-position: top;
  width: 100%;
  height: auto;
  min-height: 500px;
}

/* </style> */

/* <style> */
.Container-Overlay {
  position:inherit;
  width: 90%;
  max-width: 800px;
  bottom: 70px;
  background-color: white;
  padding: 18px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.Container-OverlayV2 {
  position:inherit;
  width: 90%;
  max-width: 800px;
  bottom: 70px;
  background-color: white;
  padding: 18px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.overlay_title {
  color: #13334d;
  font-family: montserrat, Sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.25;
}

.overlay_subtitle {
  color: #13334d;
  font-family: montserrat, Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
/* </style> */

/* <style> */
.Newsletter_Under-Overlay-Container {
  display: flex; /* Use flexbox to layout children side by side */
  align-items: center; /* Align items vertically */
  padding-bottom: 50px;
  background: #F9F8F6;
  justify-content: center;
}

.Under-Overlay-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F9F8F6;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.Content-Area {
  text-align: center;
  margin-right: 20px;
  margin-left: 15px;
}

.Content-Box {
  margin-right: 20px;
  margin-left: 15px;
}

.Right-Side-Image {
  width: 160px; /* Control the image width, make sure it's responsive */
  height: auto; /* Maintain aspect ratio */
  margin-left: 20px;
  margin-right: 15px;
}

.Link_Right-Side-Image {
  width: 200px; /* Control the image width, make sure it's responsive */
  height: auto; /* Maintain aspect ratio */
  margin: 20px;
  transition: transform 0.3s ease;
  border: 1px solid #eaeaea; /* Light border for definition */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 5px; /* Rounded corners */
}

.Link_Right-Side-Image:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on hover */
  transform: translateY(-4px); /* Gentle lift effect on hover */
}

.DescriptionV1 {
  font-size: 15px;
  margin-top: 25px;
  color: #525252;
  max-width: 800px; 
  margin-left: auto; 
  margin-right: auto;
  line-height: 1.5;
}

.LogoV1 {
    width: 66px;
    height: 44px;
    margin-bottom: 5px;
}
/* </style> */

/* <style> */
.Basic-Container {
  text-align: center;
  background: white;
  padding: 20px;
  background-color: #F9F8F6;
}
/* </style> */

/* <style> */
.Basic-Category-Container {
  text-align: center;
  background: #F9F8F6;
  padding: 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.button-link {
    display: inline-block; /* Sprawia, że link zachowuje właściwości blokowe */
    text-decoration: none; /* Usuwa podkreślenie tekstu */
}

/* <style> */
.Kafelki-Container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  background-color: #F9F8F6;
}

.page-card {
  width: 100%;
  max-width: 500px;
  display: flex;
  transition: .5s;
  height: 180px;
  margin: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.K-page-card {
  width: 100%;
  max-width: 500px;
  display: flex;
  transition: .5s;
  height: 180px;
  margin: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.page-card:hover {
  transform: scale(1.03); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.K-page-card:hover {
  transform: scale(1.03); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.page-card__img {
  width: 30%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.K-page-card__img {
  width: 30%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-card__content {
  background-color: white;
  width: 70%;
  position: relative;
}

.K-page-card__content {
  background-color: white;
  width: 70%;
  position: relative;
}

.page-card__header {
  font-size: 26px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  font-weight: 600;
  color: #5f5f5f;
  line-height: 1.2;
  text-align: left;
}

.K-page-card__header {
  font-size: 26px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  font-weight: 600;
  color: #5f5f5f;
  line-height: 1.2;
  text-align: left;
}

.page-card__text {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  color: #5f5f5f;
  text-align: left;
  margin-top: 10px;
  line-height: 1.4;
}

.K-page-card__text {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  color: #5f5f5f;
  text-align: left;
  margin-top: 10px;
  line-height: 1.4;
}

.page-card__btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #5f5f5f !important;
  padding: 4px 30px;
  border: 1px solid #5f5f5f;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease; /* Dodajemy animację przejścia */
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.K-page-card__btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #5f5f5f !important;
  padding: 4px 30px;
  border: 1px solid #5f5f5f;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease; /* Dodajemy animację przejścia */
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.page-card__btn:hover {
  transform: translateY(-3px); /* Lekkie podniesienie */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Zwiększony cień przy najechaniu */
}

.K-page-card__btn:hover {
  transform: translateY(-3px); /* Lekkie podniesienie */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Zwiększony cień przy najechaniu */
}

/* <style> */

.Header-Container {
  text-align: center;
  background: #13334d;
  padding: 30px 0;
  border: 1.5px solid black;
}

.Header {
  color: white;
  font-family: 'Montserrat', Sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.Arrow-Container {
  text-align: center;
  padding: 5px 0;
}

.Arrow-Image {
  height: 16px;
}

/* <KARUZELA> */

.carousel {
  width: 100%;
  overflow-x: scroll;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F9F8F6;
  text-align: center;
}

.carousel__container {
  white-space: nowrap;
  display: inline-block;
  padding-bottom:25px;
  background-color: #F9F8F6;
  padding-left: 20px;
  padding-right: 70px;
}

.categories__title {
 color: rgb(77, 55, 102);
  font-size: 28px;
  position: absolute;
  padding-left: 30px;
}

.carousel-item {
  width: 350px;
  height: 197px;
  border-radius: 20px;
  background-color: #95bcd6;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 70px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(72px, 0, 0);
  transform: translate3d(72px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

.carousel-item__img {
  width: 100%;
  height: 100%;
}

.carousel-item__details {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.6)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item__details:hover {
  opacity: 1;
}

.carousel-item__details span {
  /* width: 10px;
  height: 10px; */
  font-size: 0.9rem;
  color: #2ecc71;
  /* background-color: white; */
}

.carousel-item__details .controls {
  padding-top: 120px;
}

.carousel-item__details .carousel-item__details--title {
  color: #fff;
  margin: 5px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 80px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  background-color: #ffffff3a;
  letter-spacing: 1px;
  transition: transform 0.5s ease, background-color 0.5s ease;
  font-family: 'montserrat', sans-serif;
  position: relative; /* Kontekst dla pseudo-elementów */
  overflow: hidden; /* Ukrycie pseudo-elementów */
  margin-top: 45%;
}

.carousel-item__details .carousel-item__details--title:hover {
  background-color: #13334d;
  transform: scale(1.1);
}

/* Pseudo-elementy dla krawędzi */
.carousel-item__details .carousel-item__details--title::before,
.carousel-item__details .carousel-item__details--title::after {
  content: '';
  position: absolute;
  background-color: #fff;
  transition: all 0.3s ease;
  z-index: 1;
}

/* Górna krawędź */
.carousel-item__details .carousel-item__details--title::before {
  top: 0;
  left: 50%;
  width: 0;
  height: 1px;
  transform: translateX(-50%);
}

/* Dolna krawędź */
.carousel-item__details .carousel-item__details--title::after {
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  transform: translateX(-50%);
}

/* Lewa i prawa krawędź */
.carousel-item__details .carousel-item__details--title span {
  position: absolute;
  width: 1px;
  background-color: #fff;
  height: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

/* Lewa górna krawędź */
.carousel-item__details .carousel-item__details--title span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: top;
}

/* Lewa dolna krawędź */
.carousel-item__details .carousel-item__details--title span:nth-child(2) {
  bottom: 0;
  left: 0;
  transform-origin: bottom;
}

/* Prawa górna krawędź */
.carousel-item__details .carousel-item__details--title span:nth-child(3) {
  top: 0;
  right: 0;
  transform-origin: top;
}

/* Prawa dolna krawędź */
.carousel-item__details .carousel-item__details--title span:nth-child(4) {
  bottom: 0;
  right: 0;
  transform-origin: bottom;
}

/* Animacja po najechaniu */
.carousel-item__details .carousel-item__details--title:hover::before,
.carousel-item__details .carousel-item__details--title:hover::after {
  width: 100%;
}

.carousel-item__details .carousel-item__details--title:hover span:nth-child(1),
.carousel-item__details .carousel-item__details--title:hover span:nth-child(2),
.carousel-item__details .carousel-item__details--title:hover span:nth-child(3),
.carousel-item__details .carousel-item__details--title:hover span:nth-child(4) {
  height: 50%;
  transition-delay: 0.1s; /* Opóźnienie animacji */
}


::-webkit-scrollbar-track
{
  background-color: transparent;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F9F8F6;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #dbdada;
}

.Background-ContainerV2 {
  background-color: #F9F8F6;
  padding: 15px 0;
}

/* <Przycisk BACK TO TOP> */
/* Styl dla przycisku */
.scroll-to-top {
  position: fixed; /* Stała pozycja na ekranie */
  bottom: 20px; /* Odległość od dolnej krawędzi */
  right: 20px; /* Odległość od prawej krawędzi */
  padding: 16px; /* Padding dla lepszego wyglądu */
  background: white; /* Tło przycisku */
  color: #333; /* Kolor tekstu */
  text-decoration: none; /* Usunięcie podkreślenia */
  font-size: 24px; /* Rozmiar czcionki */
  border-radius: 50%; /* Zaokrąglone rogi */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Cień przycisku */
  transition: transform 0.4s ease, box-shadow 0.3s ease; /* Animacja */
  display: flex; /* Ustawienie jako flexbox */
  justify-content: center; /* Wyśrodkowanie ikony w poziomie */
  align-items: center; /* Wyśrodkowanie ikony w pionie */
}

.scroll-to-top:hover {
  transform: translateY(-4px); /* Animacja podnoszenia */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Zwiększony cień przy podniesieniu */
}

.scroll-to-top i {
  margin: 0; /* Usuń marginesy z ikony */
}

/* STANDARD CARDS */

/* Lazy Load Styles */
.standard-card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
}

.standard-card-image > img {
	display: block;
	width: 100%;
}

.standard-card-list {
	display: block;
	margin-bottom: 40px;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.standard-card {
	display: inline-block;
	width: 250px;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 1px 4px 2px rgba(0,0,0,0.2);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.standard-card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.standard-card-description {
	display: block;
	padding: 10px;
	color: #515151 !important;
	text-decoration: none;
	position: relative; /* Dodane do umożliwienia pozycjonowania pseudoelementu */
	cursor: pointer; /* Dodane, aby wskaźnik zmieniał się na kursor */
  font-size: 14px;
}

.standard-card-description::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 50%;
	background-color: #386D88; /* Dopasowane do koloru tekstu */
	transition: width 0.4s ease, left 0.4s ease;
}

.standard-card-description:hover::after {
	width: 100%;
	left: 0;
}

/* Pokaż przycisk po najechaniu - przykładowa interakcja */
.scroll-to-top:hover {
  display: block;
}

.title-break {
  height: 10px;
}

/* Dodatkowe style dla modalnych okienek */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #f9f8f6;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  max-width: 1400px;
  width: 90%;
  max-height: 90%;
  overflow: auto;
  position: relative;
}

.close-button {
  position: absolute;
  right: 10px;
  top: -5px;
  text-decoration: none;
  font-size: 28px;
  color: white !important;
}

#poradniki-podatkowe:target,
#poradniki-prawne:target,
#szkolenia:target,
#newslettery:target,
#webinary:target {
  display: flex;
}

.hidden-content {
  display: none;
}

.audyty-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.audyty-modal:target {
  display: flex;
}
.audyty-modal-content {
  background: #f9f8f6;
  text-align: center;
  max-width: 900px;
  width: 90%;
  max-height: 90%;
  position: relative;
  border: 1px solid #888;
}
.audyty-close-button {
  color: #aaa !important;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
	position: absolute;
	right: 25px;
	top: -5px;
}
.audyty-close-button:hover,
.audyty-close-button:focus {
  color: black;
  cursor: pointer;
}

/* KONTENER 2 ZDJĘCIA */

.image-left, .image-right
{
	margin: 1em 0;
}

@media (min-width: 20em)
{
	.image-left, .image-right
	{
		display: flex;
		align-items: center;
	}

	.image-left img
	{
		margin-right: 1em;
		float: left; /* fallback */
	}

	.image-right img
	{
		order: 1;
		margin-left: 1em;
		float: right; /* fallback */
	}
	
	/* clearfix for fallback */
	.image-left::after,
	.image-right::after
	{
		content: "";
  	display: block;
		clear: both;
	}
}

.Background-ContainerV3 .image-left h1,
.Background-ContainerV3 .image-right h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 1rem;
    font-family: 'montserrat', sans-serif;
    line-height: 1.3;
}

.Background-ContainerV3 .image-left p,
.Background-ContainerV3 .image-right p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    font-family: 'montserrat', sans-serif;
}

/*Newsletter*/

.Newsletter-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
}
.Newsletter-header {
  text-align: center;
  background-color: #13334d;
  color: white;
  padding: 20px;
}
.Newsletter-logo {
  background-color: #ffffff;
  padding: 10px 0;
  text-align: center;
}
.Newsletter-logo img {
  max-width: 230px;
  height: auto;
}
.Newsletter-header h1 {
  margin: 0;
  font-size: 24px;
}
.Newsletter-header .Newsletter-date {
  margin: 5px 0 0;
  font-size: 14px;
}
.Newsletter-content {
  padding: 20px;
}
.Newsletter-content h2 {
  color: #505050;
  font-size: 22px;
  text-align: left;
  margin-top: 5px;
}
.Newsletter-content h3 {
  color: #505050;
  font-size: 16px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 0px;
}
.Newsletter-content p {
  line-height: 1.6;
  color: #333333;
  text-align: left;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.Newsletter-content ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: 'Montserrat', Sans-serif;
  font-size: 14px;
  text-align: left;
  color: #333333;
}
.Newsletter-content ul li {
  margin-bottom: 5px;
}
.Newsletter-footer {
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #dcdcdc;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
}
.Newsletter-person {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.Newsletter-person img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 20px;
}
.Newsletter-person-text {
  text-align: left;
}
.Newsletter-footer p {
  margin: 0;
  color: #333333;
  font-size: 14px;
}
.Newsletter-footer .Newsletter-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
.Newsletter-footer .Newsletter-role {
  color: #777777;
}

@media (min-width: 30em)
{
	.image-left img, .image-right img
	{
		flex-shrink: 0;
	}
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  .Under-Overlay-Container {
    display: block;
  }
}

@media (max-width: 500px) {
  .page-card__img {
      width: 40%;
  }
}

@media (max-width: 768px) {
  .overlay_title {
      font-size: 22px !important;
  }
  .overlay_subtitle {
      font-size: 18px !important;
  }
}

/* Media query: ukryj przycisk na ekranach mniejszych niż 768px */
@media (max-width: 768px) {
  .scroll-to-top {
      display: none;
  }
}

@media (max-width: 768px) {
  .titleV1 {
      font-size: 22px;
  }
  .SubtitleV1 {
      font-size: 20px;
  }
  .Right-Side-Image {
      width: 100px;
  }
  .HighlightV1 {
      font-size: 22px !important;
  }
}

@media (max-width: 450px) {
  .Container-OverlayV2 {
      padding: 20px 0px !important;
  }
}

/* ZDJECIE STRONA GŁÓWNA */
@media (max-width: 768px) {
  .Image_for_containerV2 {
      background-image: url('images/ekipa-mentzenV3.jpg');
  }
}

@media (max-width: 1170px) {
  .Image_for_containerV2 {
      min-height: 350px;
  }
}

@media (max-width: 890px) {
  .Image_for_containerV2 {
      min-height: 300px;
  }
}

@media (max-width: 550px) {
  .Image_for_containerV2 {
      min-height: 250px;
  }
}

@media (max-width: 450px) {
  .Image_for_containerV2 {
      min-height: 200px;
  }
}

/* KAFELKI - KSIEGOWOŚĆ */

@media (max-width: 530px) {
  .K-page-card__img {
      width: 35%;
  }
  .K-page-card__content {
      width: 65%;
  }
  .K-page-card__header {
      font-size: 20px;
  }
  .K-page-card__text {
      font-size: 14px;
      margin-right: 15px;
  }
}
